name: Nightly Release

on:
    schedule:
        - cron: "0 0 * * *" # Runs daily at midnight UTC
    workflow_dispatch: # Allows manual triggering of the workflow

env:
    RELEASE: nightly

jobs:
    prep-release:
        uses: ./.github/workflows/prep-release.yaml
        with:
            release: nightly

    release:
        needs: prep-release
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: devops-mcp-server
        strategy:
            matrix:
                goos: [linux, windows, darwin]
                goarch: [amd64, arm64]
                exclude:
                    - goos: windows
                      goarch: arm64
                    - goos: darwin
                      goarch: amd64

        steps:
            - uses: actions/checkout@v3

            - name: prep-release
              run: |
                  mkdir -p release dist
                  cp ../gemini-extension.json release/
                  cp ../README.md release/
                  cp ../local-rag/devops-rag.db release/

            - name: Set up Go
              uses: actions/setup-go@v3
              with:
                  go-version: "1.24"

            - name: Run Go Vet
              run: go vet ./...

            - name: Run Go Fmt
              run: go fmt ./...

            # - name: Run Go Tests
            #   run: go test ./...

            # - name: Install golangci-lint
            #   run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

            # - name: Run golangci-lint
            #   run: golangci-lint run

            - name: Build
              run: |
                  export GOOS=${{ matrix.goos }}
                  export GOARCH=${{ matrix.goarch }}
                  go build -o "release/devops-mcp-server-${GOOS}-${GOARCH}"

            - name: Create release assets
              id: archive
              run: |
                  archive="dist/devops-mcp-server-${{ matrix.goos }}-${{ matrix.goarch }}"
                  if [[ "matrix.goos" == "windows" ]];then
                    archive="${archive}.zip"
                    zip -J "${archive}" -C release .
                  else
                    archive="${archive}.tar.gz"
                    tar -czvf "${archive}" -C release .
                  fi
                  echo "Created ${archive}"
                  echo "ARCHIVE_NAME=${archive}" >> "$GITHUB_OUTPUT"

            - name: Create release assets
              id: test
              run: |
                  pwd
                  ls dist/*
                  ls ${{ steps.archive.ARCHIVE_NAME }}

            - name: UpUpload archive to GitHub Release
              uses: softprops/action-gh-release@v1
              with:
                  files: dist/*
                  overwrite_files: true
                  tag_name: ${{ env.RELEASE }}
                  fail_on_unmatched_files: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
